.new_goods {
    padding: 24px 0;
}

.new_goods_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h2 {
        color: var(--text-default, #202223);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: SF Pro Display;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
    }
}

.new_goods_header_button {
    display: flex;
    gap: 16px;
    & button {
        background: #F6F6F7;
    }
}

.new_goods_slider {
    & .slider_item {
        background: #FAFBFB;
    }
}