.discount_popular_goods_wrapper {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.discount {
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

.discount_item {
    border-radius: 5px;
    padding: 24px 23px 23px 24px;
    flex: 1 1 569px;
}

.discount_item_action {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    & a {
        padding: 8px 16px;
        border-radius: 4px;
        border: 1px solid var(--border-default, #8C9196);
        background: #FFF;
        color: var(--text-default, #202223);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: SF Pro Text;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        &:hover {
            background: var(--action-secondary-hovered, #F6F6F7);
            box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.20) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
        }
    }
    & h3 {
        color: var(--text-default, #202223);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: SF Pro Display;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
    }
}

.pets {
    background-color: var(--surface-warning-default, #FFD79D);
    background-image: url('../images/discount1.png');
    background-repeat: no-repeat;
    background-position: 397px 100%;
    & div {
        max-width: 355px;
    }
}

.cat {
    background-color: var(--surface-success-default, #AEE9D1);
    background-image: url('../images/discount2.png');
    background-repeat: no-repeat;
    background-position: 345px 100%;
    padding-right: 28px;
    & div {
        max-width: 392px;
    }
}

.discount_popular_goods {
    padding: 56px 0;
    background: var(--background-default, #F6F6F7);
}